<!DOCTYPE html>
<html>
<head>
  <title>ActionSmser</title>
  <%#= stylesheet_link_tag    "action_smser/application" %>
  <%#= javascript_include_tag "action_smser/application" %>
  <%= csrf_meta_tags %>

  <STYLE type="text/css">
    table {
      border:  1px solid gray;
      border-collapse:collapse;

    }
    th, td {
      border:  1px solid gray;
      padding: 1px 8px 1px 3px;
    }

    h1 { margin-top: 40px; }
    h2 { margin-top: 40px; }

    body, div {
      color: #444;
      font-size: 12px;
      line-height: 150%;
      line-height: 130%;
      font-family: Helvetica, Arial, sans-serif;

    }
    hr { margin-top: 20px; margin-bottom: 10px; }

    .selection_links { font-weight: strong; }
    .selection_links a { font-size: 12px; font-weight: normal; padding-left: 10px; padding-right: 10px;}
    .selection_links a.selected { font-size: 14px; font-weight: bold; color: black; }
    li.selected {background-color: #ddd;}


    .menu { margin-top: 30px; }
    .menu a { margin-right: 20px; font-size: 16px; }
    
  </STYLE>

</head>
<body class="delivery_reports_layout">

<h1>ActionSmser infos</h1>

<div class="menu">
<%= link_to 'Main application', '/' %> <%= link_to 'Summary of SMS', delivery_reports_path -%> <%= link_to 'List All SMS', list_delivery_reports_path %>
</div>

<hr>

<%= yield %>


<hr>
<p>
  Stats by ActionSmser gem, see homepage: <%= link_to 'https://github.com/holli/action_smser', 'https://github.com/holli/action_smser' %>
</p>

<p style="margin-top: 600px"></p>


</body>
</html>
