<%= form_for(@delivery_report) do |f| %>
  <% if @delivery_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_report.errors.count, "error") %> prohibited this delivery_report from being saved:</h2>

      <ul>
      <% @delivery_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :msg_id %><br />
    <%= f.text_field :msg_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :status_updated_at %><br />
    <%= f.datetime_select :status_updated_at %>
  </div>
  <div class="field">
    <%= f.label :recipient %><br />
    <%= f.text_field :recipient %>
  </div>
  <div class="field">
    <%= f.label :sender %><br />
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :text_body %><br />
    <%= f.text_field :text_body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
