<h1>Listing delivery_reports</h1>

<table>
  <tr>
    <th>Msg</th>
    <th>Status</th>
    <th>Status updated at</th>
    <th>Recipient</th>
    <th>Sender</th>
    <th>Text body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @delivery_reports.each do |delivery_report| %>
  <tr>
    <td><%= delivery_report.msg_id %></td>
    <td><%= delivery_report.status %></td>
    <td><%= delivery_report.status_updated_at %></td>
    <td><%= delivery_report.recipient %></td>
    <td><%= delivery_report.sender %></td>
    <td><%= delivery_report.text_body %></td>
    <td><%= link_to 'Show', delivery_report %></td>
    <td><%= link_to 'Edit', edit_delivery_report_path(delivery_report) %></td>
    <td><%= link_to 'Destroy', delivery_report, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Delivery report', new_delivery_report_path %>
