
<h1>Delivery status for the past month (1.month.ago..1.minute.ago)</h1>

<% time_span = 1.month.ago..1.minute.ago %>

<h2>Delivered within (hour:min:sec)</h2>

<%
  ar = ActionSmser::DeliveryReport.where(:created_at => time_span)
  ar_delivered = ar.where(:status => 'delivered')
  total = ar.count
  total_delivered = ar_delivered.count
%>

<% if ActiveRecord::Base.connection.adapter_name.downcase.to_s.include?("mysql") %>

  <ul>
    <% ["00:00:30", "00:01:00", "00:02:00", "00:10:00", "00:30:00", "00:90:00"].each do |time| %>
      <% dev_count = ar_delivered.where('TIMEDIFF(status_updated_at, created_at) < ?', time).count %>
      <li><strong><%= time %>:</strong>
        Delivered <%= dev_count %> sms.
        <strong><%= number_to_percentage(100.0 * dev_count / total) %>%</strong> of total sms.
        <%= number_to_percentage(100.0 * dev_count / total_delivered) %>% of delivered sms.</li>
    <% end %>
  </ul>

<% else %>
  Delivery report uses timediff sql and has only been tested with MySql. Disabled with other adapters for now.
<% end %>

<h2>Status</h2>
<ul>
<%
   quest = ActionSmser::DeliveryReport.where(:created_at => time_span)
   total = quest.count
   grouped_by_status = quest.group(:status).count.each do |key, val| %>

    <li><strong><%= key %></strong> : <%= val %> (<%= number_to_percentage(100.0 * val / total) %>%)</li>
<% end %>
</ul>

<h2>Msg type</h2>
<ul>
<%
   quest = ActionSmser::DeliveryReport.where(:created_at => time_span)
   total = quest.count
   grouped_by_status = quest.group(:sms_type).count.each do |key, val| %>

    <li><strong><%= key %></strong> : <%= val %> (<%= number_to_percentage(100 * val / total) %>%)</li>
<% end %>
</ul>

<hr>

<h1>40 most recent delivery_reports</h1>

<table>
  <tr>
    <th>Msg</th>
    <th>Status</th>
    <th>Status updated at</th>
    <th>Recipient</th>
    <th>Sender</th>
    <th>Text body</th>
  </tr>

<% ActionSmser::DeliveryReport.order('created_at DESC').first(30).each do |delivery_report| %>
  <tr>
    <td><%= delivery_report.msg_id %></td>
    <td><%= delivery_report.status %></td>
    <td><%= delivery_report.status_updated_at %></td>
    <td><%= delivery_report.to %></td>
    <td><%= delivery_report.from %></td>
    <td><%= delivery_report.body %></td>
  </tr>
<% end %>
</table>


