
<h1>Delivery status for the past month</h1>

<h2>Status</h2>
<ul>
<%
   quest = ActionSmser::DeliveryReport.where(:created_at => 1.month.ago..1.minute.ago)
   total = quest.count
   grouped_by_status = quest.group(:status).count.each do |key, val| %>

    <li><%= key %> : <%= val %> (<%= 100 * val.to_f / total.to_f %>%)</li>
<% end %>
</ul>

<h2>Msg type</h2>
<ul>
<%
   quest = ActionSmser::DeliveryReport.where(:created_at => 1.month.ago..0.minute.ago)
   total = quest.count
   grouped_by_status = quest.group(:sms_type).count.each do |key, val| %>

    <li><%= key %> : <%= val %> (<%= 100 * val.to_f / total.to_f %>%)</li>
<% end %>
</ul>

<hr>

<h1>20 most recent delivery_reports</h1>

<table>
  <tr>
    <th>Msg</th>
    <th>Status</th>
    <th>Status updated at</th>
    <th>Recipient</th>
    <th>Sender</th>
    <th>Text body</th>
  </tr>

<% ActionSmser::DeliveryReport.first(20).each do |delivery_report| %>
  <tr>
    <td><%= delivery_report.msg_id %></td>
    <td><%= delivery_report.status %></td>
    <td><%= delivery_report.status_updated_at %></td>
    <td><%= delivery_report.to %></td>
    <td><%= delivery_report.from %></td>
    <td><%= delivery_report.body %></td>
  </tr>
<% end %>
</table>


