
<h1>Delivery status for the last month</h1>

<hr>

<h1>20 most recent delivery_reports</h1>

<table>
  <tr>
    <th>Msg</th>
    <th>Status</th>
    <th>Status updated at</th>
    <th>Recipient</th>
    <th>Sender</th>
    <th>Text body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% ActionSmser::DeliveryReport.first(20).each do |delivery_report| %>
  <tr>
    <td><%= delivery_report.msg_id %></td>
    <td><%= delivery_report.status %></td>
    <td><%= delivery_report.status_updated_at %></td>
    <td><%= delivery_report.to %></td>
    <td><%= delivery_report.from %></td>
    <td><%= delivery_report.body %></td>
  </tr>
<% end %>
</table>


