<p id="notice"><%= notice %></p>

<p>
  <b>Msg:</b>
  <%= @delivery_report.msg_id %>
</p>

<p>
  <b>Status:</b>
  <%= @delivery_report.status %>
</p>

<p>
  <b>Status updated at:</b>
  <%= @delivery_report.status_updated_at %>
</p>

<p>
  <b>Recipient:</b>
  <%= @delivery_report.recipient %>
</p>

<p>
  <b>Sender:</b>
  <%= @delivery_report.sender %>
</p>

<p>
  <b>Text body:</b>
  <%= @delivery_report.text_body %>
</p>


<%= link_to 'Edit', edit_delivery_report_path(@delivery_report) %> |
<%= link_to 'Back', delivery_reports_path %>
